.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #446cb3;
  /* min-height: 100vh; */
  padding: 0;
  margin: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
}

.App-header h4{
  display: line;
  text-align:center;
  flex-grow: 7;
  padding-top: 3px;
}

.App-header img{
  display: inline;
  flex-grow: 1;
  padding: 25px;
  text-align:center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#search-results input[type=text] {
    width: 80%;
    padding: 12px 10px;
    display: inline;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    font-size: 1em;
}

#search-results input[type=submit] {
    width: 20%;
    padding: 12px 0;
    display: inline;
    box-sizing: border-box;
    background-color: #f9690e;
    border: none;
    color: white;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
}
